# llamaindex
llama-index==0.11.9
llama-index-core==0.11.9
llama-index-embeddings-huggingface==0.3.1
llama-index-llms-openai-like==0.2.0
llama-index-embeddings-text-embeddings-inference==0.2.0

# Groq
llama-index-llms-groq==0.2.0

# Redis Chat store
llama-index-storage-chat-store-upstash==0.1.2
llama-index-storage-chat-store-redis==0.3.2

# Qdrant
llama-index-vector-stores-qdrant==0.3.2
fastembed==0.4.2

# Chainlit
chainlit==2.0.2

# Phoenix trace
arize-phoenix-otel==0.6.1
openinference-instrumentation-llama-index==3.0.3

# Postgres database
asyncpg==0.30.0
boto3==1.35.95
